<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="form-group">
    <img width="100" alt="Angular Logo" src="https://i.ibb.co/n8rh7JY/Screenshot-2019-01-22-at-22-37-18.png">
  </div>
  <div class="form-group">
    <label>
      Welcome to {{ title }}!
    </label>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <!-- Currency -->
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Text input with dropdown button">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Dropdown</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Destinatation -->
      <div class="form-group">
        <div class="input-group">
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <div class="input-group-append">
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>